<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.yjzloveyzh.dao.RecordDao">
  <insert id="insertRequestRecordByRecord" parameterType="top.yjzloveyzh.common.pojo.RequestBuyRecord" keyProperty="id" useGeneratedKeys="true">
      INSERT INTO
      request_buy_record(created_at, updated_at, cost, request_user_id)
      VALUES(NOW(), NOW(), #{cost}, #{requestedUserId})
  </insert>

</mapper>